# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#불필요한 폴더 제외
Debug/
Release/
.vs/
combase.pdb/
oleaut32.pdb/
shell32.pdb/
wgdi32.pdb/
InspirationEngine/Debug/
InspirationEngine/Release/

# Executables
*.exe
*.out
*.app
*.zip
*.pdb